body {
	background-color:#b3fff0;
	
}

ul{
	float:left;
	background-color:#E27D60;
	list-style-type:none;
	margin:0px;
	padding:0px;
	width:100%;
	border:2px solid black;
}

li a:hover{
	background-color:#41B3A3;

	
}
li a {
	display:block;
padding:20px;
float:left;
text-decoration:none;
}
div{
	text-align:center;
	
}
div.kvpy{
	float:left;
	width:50%;
	
}
div.kvpyimage{
	float:right;
	width:45%;
	margin-right:0px;
	background-color:black;
	
}

div.mains{
	float:right;
	width:50%;
	
}
div.mainsimage{
	float:left;
	width:45%;
	margin-left:60px;
	background-color:black;
	
}
div.advanced{
	float:left;
	width:50%;
	
}
div.advanceimage{
	float:right;
	width:45%;
	margin-right:0px;
	background-color:black;
	
}

h2
{
	text-align:center;
}
